header{
    text-align: right;
    background-color: rgb(234, 218, 125);
    color: white;
    height: 75px;
}

body{
    text-align: center;

}

li{
    display: inline;
    list-style-type: none;
    font-size: 20px;
    padding: 10px;
    color: black;
    margin-top: 10px;
}

footer{
    text-align: center;
    background-color: rgb(234, 218, 125) ;
}

.border{
    background-color: rgb(132, 229, 105);
    height: 20px;
}

.section1{
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

